<div class="container">
  <div class="active">
     <div class="row">
         
         <div class="col-sm-10"><h3>List of Employees</h3></div>
        <div class="col-sm-1"><button class="btn btn-warning" routerLink='/Forms'>+</button></div>
     </div>
     <div class="card" *ngFor="let c of data">
        <div class="card-body" >
           <p>Job:{{"  "+c.job}}</p>
           <p>Salary:{{"  "+c.salary}}</p>
           <p>Job Description:{{"  "+c.description}}</p>
        </div>
      </div>
 </div>
</div>